@use 'variables';

.footer {
    background-color: variables.$corDeFundo;
    color: variables.$corDoTexto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    &__text {
        text-align: center;
        margin-bottom: 1rem;

        a {
            text-decoration: none;
            color: variables.$corDoBotão;

            &:hover {
                color: variables.$corDoTexto;
                cursor: pointer;
                transform: scale(1.1);
                text-decoration: underline;
            }
        }
    }
}