@use 'variables';

.header {
    padding: 2vw;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: variables.$fontePrincipal;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1024px;
        margin: 0 auto;
        width: 100%;
    }

    &__menu {
        cursor: pointer;

    }

    &__links {
        margin-right: 2vw;
        display: flex; 
        align-items: center;
        gap: 2.4vw;

        &__item {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2rem;
            letter-spacing: 1px;
            text-align: center;

            a {
                text-decoration: none;
                cursor: pointer;

                @media screen and (max-width: variables.$mobile) {
                    font-size: .8rem;
                }
            }
        }
    }

    &--active {
        visibility: hidden;
    }
}
