// Paleta de cores
$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoDoBotaoPrimario: #6421ff;
$corDeFundoDoBotaoSecundario: #0062e5;
$corDeFundoDoBotaoDark: #000;
$corFundoperguntas: #13151d;

// Breakpoints

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;